  <% @lyrics.each do |lyric| %>
     <div class="post">
      <div class="post-date">
        <%= lyric.lyric %>
        <%= lyric.song %>
        <%= lyric.artist %>
        <%= link_to '編集', edit_lyric_path(lyric.id), method: :get %>
        <%= link_to '削除', lyric_path(lyric.id), method: :delete %>
       </div> 
    </div>
  <% end %>



