  <div class="content">
  <%= form_with(url: search_lyrics_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
  
  <% @lyrics.each do |lyric| %>
   <div class="name" >
     <%= render partial: "lyric", locals: { lyric: lyric } %>
    <div class="content-name" >
    <% if user_signed_in? %>
       <%= link_to 'コメント', lyric_path(lyric.id), method: :get, class: "comment-date" %>
       <%= link_to lyric.user.nickname, user_path(lyric.user), method: :get, class: "date-1" %>
   </div>
   <% end %>
  <% end %>
  </div>
</div>



