<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Favorite Lyrics</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header">
    <div class="heading">
      <h1 class="title"><a href="/">My Favorite Lyrics</a></h1>
    </div>
    <div class="navbar">
    <% if user_signed_in? %>
     <div class="navbar-1">
      <%= link_to "投稿する", new_lyric_path, class: "bar" %>
      <%= link_to "マイページ","/users/#{current_user.id}", class: "bar" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "bar" %>
      </div>
        <% else %>
      <div class="navbar-2">
      <%= link_to "ログイン", new_user_session_path, class: "bar" %>
      <%= link_to "新規登録", new_user_registration_path, class: "bar" %>
      </div>
    <% end %>
    </div>
  </header>
  <%= yield %>
</body>
</html>

